<section class="section-heading">
  <h1 class="title is-1 has-text-centered">Todos</h1>
</section>

<!-- ** ===============================================
==================== Todo Add Section ================
=======================================================-->
<div class="container extra-todo-area-container">
  <div class="extra-todo-area">

    <form>
      <h2 class="title is-5">New Todos</h2>

      <div class="field is-grouped" style="margin: 0">
        <p class="control is-expanded">

          <input ngModel class="input" type="text" placeholder="Type todo text here ...">
        </p>

        <p class="control">
          <button type="submit" class="button">
            <span class="material-icons">add</span>
            Add
          </button>
        </p>
      </div>
    </form>

  </div>
</div>

<!-- ** ===============================================
==================== Todo List Section ================
=======================================================-->
<section class="section">
  <div class="container">

    <div class="todo-list" *ngIf="todos.length != 0;else noTasks">
      <ng-container *ngFor="let todoItem of todos">

        <app-todo-item [todo]="todoItem" (completeClicked)="toggleCompleted(todoItem)"
          (deleteClicked)="deleteTodo(todoItem)">
        </app-todo-item>

      </ng-container>
    </div>

  </div>
</section>

<ng-template #noTasks>
  <div class="notification is-warning">
    <p class="title is-5">
      Let's add more <strong>Tasks</strong>!
    </p>
  </div>
</ng-template>