<div class="todo-item">

    <div class="todo-item__checkBox is-flex is-justify-content-center is-align-items-center">
      <span class="material-icons">done</span>
    </div>

    <div class="todo-item__content">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
      sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
      nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
      aliquet nec, vulputate eget, arcu. In e
    </div>

    <div class="todo-item__controls is-flex">
      <div class="control-button is-flex">
        <span class="material-icons">
          edit
        </span>
      </div>
      <div class="control-button is-flex">
        <span class="material-icons">
          delete
        </span>
      </div>
    </div>

  </div>
